extends ../layouts/default

block content
	.container: .jumbotron
		h1.cabin Thoughts Fired!
			hr
		p 
		p This is where I throw my random thoughts on programming, javascript, basketball or anything under the sun
		hr
		p I will also post experiences and challenges fought in my daily life, hoping that it may help you avoid or gain new insight/perspective about it!
		p Reactions/Comments will be greatly appreciated!

